* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

ul[class] {
  list-style: none;
}

ul[class],
li {
  margin: 0;
  padding: 0;
}

button {
  margin-top: 10px;
  background-color: #008cba;
  border: none;
  color: white;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 16px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: fit-content;
}

input {
  margin: 5px 10px 5px 0;
  border: 0;
  padding: 0 10px;
  line-height: 36px;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  background-color: #3cbc8d;
  color: white;
  width: 200px;
}

input:invalid {
  border: px solid red;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
}

.wrapper__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

/* Панель управления */
.panel__wrapper {
  flex-basis: 25%;
  max-height: inherit;
  overflow: hidden;
  background: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel__devtools {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  margin-top: 10px;
}

/* Список экзотических фруктов */
.fruits__wrapper {
  flex-basis: 75%;
  background: #fff;
  max-height: inherit;
  overflow: hidden;
}

.fruits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: inherit;
  overflow-y: auto;
  padding: 15px;
}

.fruit__item {
  margin: 10px;
  padding: 10px;
  width: fit-content;
  height: 100px;
  border-radius: 10px;
}

.fruit_violet {
  background: #8b00ff;
}

.fruit_green {
  background: #84cd1b;
}

.fruit_carmazin {
  background: #dc143c;
}

.fruit_yellow {
  background: #ffd800;
}

.fruit_lightbrown {
  background: #cd853f;
}

.fruit__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  height: 100%;
  padding: 10px;
}

#selector {
  position: relative;
}

#select-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0;
  width: 200px;
  max-width: 200px;
  height: 36px;
  background-color: #3cbc8d;
  margin-bottom: 5px;
}

#dropdown-arrow {
  width: 0.625rem;
  height: 0.625rem;
  margin-inline-start: 0.75rem;
}

#dropdown {
  position: absolute;
  visibility: hidden;
  scrollbar-width: none;
}

#dropdown>ul {
  height: 234px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
  padding: 0;
  margin-block: 0;
}

::-webkit-scrollbar {
 display: none;
}

#dropdown>ul>li {
  width: 200px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.select-option:hover {
  filter: b
